
.wrapper {
   width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: linear-gradient(0deg, #ffffff 0%, #030728 100%);
    
    /* background-image: linear-gradient(0deg,  #000000 0%, #030728 100%); */
}

main{
    height: 110vh;
  width: 100vw;
  background-color: #030728;
  clip-path: ellipse(100% 55% at 48% 44%);
}
 

section{
    width: 100vw;
    height: 100vh;
   /*  background-color: blueviolet; */
    /* clip-path: ellipse(99% 99% at 48% 99%); */
   

}

footer{
    width: 100vw;
    height: 200px;
}
   